Checks: >
  readability-identifier-naming,
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-owning-memory,
  -modernize-use-trailing-return-type

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case

  - key: readability-identifier-naming.ClassCase
    value: PascalCase

  - key: readability-identifier-naming.StructCase
    value: PascalCase

  - key: readability-identifier-naming.EnumCase
    value: PascalCase

  - key: readability-identifier-naming.FunctionCase
    value: PascalCase

  - key: readability-identifier-naming.VariableCase
    value: camelBack

  - key: readability-identifier-naming.GlobalVariableCase
    value: camelBack
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: g_

  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.MemberSuffix
    value: _

  - key: readability-identifier-naming.ClassMemberCase
    value: camelBack
  - key: readability-identifier-naming.ClassMemberSuffix
    value: _

  - key: readability-identifier-naming.ConstantCase
    value: PascalCase
  - key: readability-identifier-naming.ConstantPrefix
    value: k

  - key: readability-identifier-naming.ParameterCase
    value: camelBack

  - key: readability-identifier-naming.LocalVariableCase
    value: camelBack

  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE

  - key: readability-identifier-naming.TemplateParameterCase
    value: PascalCase

WarningsAsErrors: ''

HeaderFilterRegex: '.*'
FormatStyle: file
AnalyzeTemporaryDtors: false
