# Compiled object files, static & shared libs
*.o
*.obj
*.so
*.dll
*.dylib
*.lib
*.a
*.exe
*.out
out/

# Precompiled Headers
*.gch
*.pch

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
_build/
CMakeScripts/
Testing/
CTestTestfile.cmake
install_manifest.txt

# Premake
*.make
*.workspace
*.project
*.sln
*.vcxproj*
*.xcodeproj
*.codelite
*.gyp
*.gypi

# Visual Studio
.vscode/
*.user
*.userosscache
*.suo
*.sdf
*.opensdf
*.VC.db
ipch/
*.ncb
*.aps
*.cache
*.pdb

# CLion
.idea/
cmake-build-*/

# Xcode
*.xcworkspace
*.xcodeproj
*.xcuserstate
*.xcuserdata

# Mac
.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
*.log
*.tmp

# Specifically avoid anything in third_party
third_party/*
!third_party/colors